:root {
  --primary-bg: #c663ff;
  --hover-bg: #8365ec;
  --btn-hover-bg: #007BFF;
  --white: #fff;
  --black: #333;
  --light-grey: #666;
  --primary-text: #000000;
  --box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.05);
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw; /* Utilise 100% de la largeur de la fenêtre */
  overflow-x: hidden; /* Empêche le défilement horizontal */
  font-family: "Courier New", Courier, monospace , sans-serif !important;
 
}

section, .projects-section {
 
  box-shadow: var(--box-shadow-light);
  margin: 20px auto; /* Centrage automatique */
  padding: 50px; /* Ajout de padding pour plus d'espace */
}

.container-fluid, .contact-section {
  margin: 0 auto;
  padding: 0 20px ;
  background: linear-gradient(to right, #f9e4d4, #a395ea);
  color: var(--primary-text);
  font-family: "Courier New", Courier, monospace;
  max-width: 100%;
  
}
.contact-section{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


/* Styles de base pour le header */
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky; /* ou fixed */
  top: 0;
  width: 100%;
  z-index: 1000; /* Pour qu'il soit au-dessus d'autres éléments */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; 
  height: auto;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 5px;
  color: var(--black);
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 50px;
  cursor: pointer;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;

}

.nav ul li a:hover {
  color: var(--black);
}

/* Styles pour le menu hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 30px; /* Positionné à droite */
  top:50px;  /* Ajuste la distance du haut */
  background-color: transparent; /* Fond transparent */
  border: none; /* Supprimer les bordures */
}

.hamburger div {
  width: 100%;
  height: 3px;
  background-color: var(--black); /* Couleur des barres */
}

/* Styles responsive */
@media (max-width: 768px) {
  .nav ul {
    display: none;
    flex-direction:row-reverse;
    position: absolute;
    top: 60px; /* Ajuste selon la hauteur de ton header */
    right: 0;
    background-color: none;
    width: 100%;
    padding: 10px 0;
   
  }

  .nav ul.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-top: 20px;
  }

  .hamburger {
    display: flex;
  }

  .nav ul li {
    text-align: center;
    padding: 10px 0;
  }

  .nav ul li a {
    font-size: 1.2rem;
  }
}


.btn {
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(239, 227, 227) !important;
  border: none;
  background-color: rgb(64 11 108) !important;
  transition: background-color 0.3s, transform 0.3s; /* Ajout d'une transition pour l'effet au survol */
}

.btn-contact {

  background-color: rgb(64 11 108) !important;
}

.btn-contact:hover {
  background-color: var(--hover-bg);
  transform: scale(1.05); /* Légère augmentation de taille au survol */
}

/**hero section */
.hero-container {
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  margin-bottom: 2rem;
}
.hero-content p {
  FONT-WEIGHT: 600 ;
}
.hero-content h1{
  font-weight: 700;
}

  .hero-image-container {
    position: relative;
    width: 100%;
    max-width: 300px;
  }


.profile-image {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.rotate-container {
  position: absolute;
  top: 50%; /* Centrage vertical */
  left: 50%; /* Centrage horizontal */
  width: 250px; /* Taille du chemin de rotation */
  height: 250px;
  transform: translate(-50%, -50%);
  animation: rotate 10s linear infinite;
}

.rotate-container .icon {
  position: absolute;
  width: 40px;
  height: 40px;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.icon {
  width: 10vw; /* Utilisation de vw pour que les icônes s'ajustent selon la largeur de la fenêtre */
  height: 10vw;
}

.icon-js {
  top: -30%; /* Ajusté pour que ça reste autour de l'image */
  left: 50%;
  transform: translateX(-50%);
}

.icon-react {
  left: -10%; /* Réduit pour mobile et ajusté à gauche */
  top: 50%;
  transform: translateY(-50%);
}

.icon-css {
  right: -15%; /* Réduit pour mobile et ajusté à droite */
  top: 50%;
  transform: translateY(-50%);
}


@keyframes rotate-icons {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media query pour les tablettes */
@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .hero-image-container {
    max-width: 300px;
  }
.rotate-container{
  width: 300px;
    height: 300px;
}
  .hero-content {
    flex: 1;
    padding-right: 2rem;
  }

  .hero-image-container {
    flex: 1;
  }
  .icon-js {
    top: -20%; /* Ajusté pour écrans plus grands */
  }
  .icon-react {
    left: -10%; /* Déplacement plus marqué sur les écrans larges */
  }
  .icon-css {
    right: -10%;
  }
}

@media (max-width: 320px) {
  
  .hero-image-container {
    max-width: 200px;
  }
.rotate-container{
  width: 200px;
    height: 200px;
}
.service-item{
  width: 200px !important;
}
.service-item h3{
  font-size: 0.8rem !important;
}
.service-item p {
  font-size: 0.6rem !important;
}
}
/* Media query pour les grands écrans */
@media (min-width: 1024px) {
  .hero-container {
    padding: 4rem;
  }

  .profile-image {
    max-width: 300px;
  }

  .rotate-container .icon {
    margin: 0 1.5rem;
  }
  .rotate-container{
    top: 50%;
    left: 50%;
    width: 270px;
    height: 270px;
  }
  .icon {
    width: 7vw; /* Réduction de la taille des icônes sur grand écran */
    height: 7vw;
  }

  .icon-js {
    top: -29%;
  }
  .icon-react {
    left: -20%;
  }
  .icon-css {
    right: -20%;
  }
}




@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 2s ease forwards;
}

.skill-item {
  animation: fadeInUp 1s ease forwards;
}
.services{
  display: flex;
    flex-direction: column;
    align-items: center;
}
/**Projects**/
.projects-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.projects-content p, .section-below-wave p {
  text-align: center;
  font-size: 1.2rem;
  color: #666666;
  max-width: 800px;
  margin: 0 auto 20px;
  line-height: 1.6;
  padding: 10px 20px;
}
.show-more-btn {
  cursor: pointer;
  color: #0d0d0d;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  padding-left: 15px;
  text-align: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 800px;
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 600;
}

.project-card p {
  font-size: 1.3rem;
  text-align: center;
  color:#410578;
 
}
.technologies-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tech-card {
  background-color: #f0f0f0;
  color: #333;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  font-size:1rem;
  background-color:#53b8ec;
}

.project-link {
  margin-top: 10px;
 
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #aa90ac;
}


.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 50%;
}

@media (max-width:730px){
  .contact-form {
    
    width:100%;
  }
  .contact-section h2{
    font-size: 1rem;
  }
  .project-card h3 {
    font-size: 1rem;
    margin: 10px 0;
    
  }
  
  .project-card p {
    font-size: 1rem;
    text-align: center;
    color:#410578;
   
  }
  .project-card{
    justify-content: space-between;
    height: auto;
    
  }
  .skills-title{
    font-size: 1rem;
  }
  .service-item h3 {
    font-size: 1rem;
  }
  .project-details-btn{
    font-size: 12px;
  }
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1rem;
  color: var(--primary-text);
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contact-submit-button {
  padding: 0.8rem;
  background-color: var(--primary-bg);
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-submit-button:hover {
  background-color:var(--hover-bg);
}

.thank-you-message {
  font-size: 1.2rem;
  color: var(--primary-text);
  text-align: center;
}

/* Footer */
.footer-container {
  text-align: center;
  padding: 20px 0;
  border-top: solid 2px #666;
 
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.icon-container {
 
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-container:hover {
  transform: scale(1.1);
}

.icon {
  color: #ebebef;
  font-size: 70px;
}

.icon-container:hover .icon {
  color: var(--white);
}

.facebook-icon {
  color: #4267B2;
  font-size: 20px;
}

.github-icon {
  color: #37393a;
  font-size: 20px;
}

.instagram-icon {
  color: #E1306C;
  font-size: 20px;
}

.linkedin-icon {
  color: #0A66C2;
  font-size: 20px;
}

/* Skills Section */
.skills-section {
  text-align: center;
  padding: 50px;
  color: var(--primary-text);
}

.skills-title , .contact-section h2  {
  font-family: "Courier New", Courier, monospace;
  font-size: 1,5rem;
  margin-bottom: 20px;
  text-align: center;
font-weight: 600;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  border: solid 2px;
  border-radius: 20px;
}

.skill-item {
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

/* Effet au survol (hover) */
.skill-item:hover {
  transform: scale(1.1); /* Agrandissement au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus grande */
}

/* Style du texte dans skill-items */
.skill-item p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333; /* Couleur du texte */
  transition: color 0.3s ease; /* Transition douce de la couleur du texte */
}


/* Effet au survol des icônes dans skill-items */
.skill-item svg {
  transition: color 0.3s ease, transform 0.3s ease;
}

.skill-item:hover svg {
  color: #ffb400; /* Change la couleur de l'icône au survol */
  transform: rotate(10deg); /* Ajoute une légère rotation au survol */
}

/* Services Section */
.service{
  display: flex;
  text-align: center;
}
.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}

.service-item {
  width: 250px;
 padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: rgba(255, 255, 255, 0.15);;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-icon {
  font-size: 3rem;
  margin-bottom: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #4B0082; /* Violet foncé ou une autre couleur selon ton choix */
}
.service-item:hover .service-icon {
  color: #FF6347; /* Couleur au survol, par exemple un rouge orangé */
  transform: scale(1.2);
}
.service-item h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.service-item p {
  font-size: 1rem;
}


/* Styles pour la modal */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75); /* Fond assombri */
  z-index: 1000;
}

.ReactModal__Content {
  background-color: #fff; /* Fond blanc */
  padding: 15px;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .ReactModal__Content {
    max-width: 95%; /* Augmente la largeur pour s'adapter à l'écran */
    width: 100%;
    padding: 15px;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.modal-header h2 {
  font-size: 24px;
  color: #333;
  font-weight: 600;
}


.modal-content {
  padding: 20px;
  width: 100%;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff5a5f; /* Une couleur similaire à celle dans ton exemple */
}

.modal-description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.modal-skills {
  list-style-type: none;
  padding-left: 0;
}

.modal-skills li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.modal-skills li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #ff5a5f; /* Même couleur que le titre pour garder l'harmonie */
  font-size: 20px;
  line-height: 1;
}


.modal-footer {
  text-align: right;
}

.modal-footer button {
  background-color: #823582;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.modal-footer button:hover {
  background-color: #370635;
}

/* Animation de la modal */
.ReactModal__Content--after-open {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.ReactModal__Content--before-close {
  opacity: 1;
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.project-details-btn{
  
  color: hsl(0, 0%, 100%); /* Couleur du texte (bleu) */
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  padding: 8px 16px;
 border: none;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}
.project-details{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}
.back-button {
  display: flex;
  align-items: center;
  text-decoration: none; /* Enlève le soulignement du lien */
  color: #330343; /* Couleur du texte */
  margin-bottom: 20px; /* Espacement en bas */
  padding-top: 50px;
  padding-right: 50px;
}

.back-button:hover {
  color: #0056b3; /* Couleur au survol */
}
.headerdetail{
  display: flex;
  align-items: center;
    align-content: center;
    justify-content: space-between;
    gap :40px;
}